.pbg {
    background-color: rgb(22, 202, 22);
    width: 100%;
    height: 2500%;
    border: 2px solid black;
    
    
    
}

.line{
    width: 90%;
    height: 0.1px;
    border: 3px solid rgb(71, 71, 71);
    
}


.b1 {
    margin-left: 34px;
    margin-top: 24px;
    border-radius: 10px;
}

.b1:hover{
    transform: scale(1.3);
    transition: 1s;
}

h3{
    margin-left: 10px;
}

.h3{
    margin-top: -19px;
    margin-left: 36px;
}
.sh3{
    margin-top: -19px;
    margin-left: 9px;
}

.add {
    width: 46px;
    height: 25px;
    background-color: black;
    margin-left: 118px;
    margin-top: -42px;
    color: white;
    border: none;
    font-weight: bolder;
    border-radius: 20px;
}

.add:hover{
    background-color: rgb(22, 202, 22);
    color: black;
    cursor: pointer;
}

.Gtag{
    margin-top: -8px;
    margin-left: 10px;
}
.Rtag{
    margin-top: -8px;
    margin-left: 10px;
}



/*  Biriyani starts here */

.h21 {
    
    color: black;
    margin-top: -13997px;
    margin-left: 46px;
    font-weight: bold;
    font-size: xx-large;
}

.div11 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 30px;
    border-radius: 10px;
}

.div21{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div31{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div41 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}



.div51 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 50px;
    border-radius: 10px;
}

.div61 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div71 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div81 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div91 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 50px;
    border-radius: 10px;
}

.div101 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div111 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div121 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div131 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 50px;
    border-radius: 10px;
}



/* Biriyani ends here */



/* Chicken starts here */


.h22 {
    color: black;
    margin-top: 111px;
    margin-left: 46px;
    font-weight: bold;
    font-size: xx-large;
}

.div12 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 30px;
    border-radius: 10px;
}

.div22{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div32 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div42 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div52 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 50px;
    border-radius: 10px;
}

.div62 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div72{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div82 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div92 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 225px;
    margin-top: 50px;
    border-radius: 10px;
}

.div102 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 513px;
    margin-top: -255px;
    border-radius: 10px;
}

.div112 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 795px;
    margin-top: -255px;
    border-radius: 10px;
}


/* Chicken ends here */


/* Pizza starts here */

.h24 {
    color: black;
    margin-top: 111px;
    margin-left: 46px;
    font-weight: bold;
    font-size: xx-large;
}

.div14 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 30px;
    border-radius: 10px;
}

.div24{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div34 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div44 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div54 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 50px;
    border-radius: 10px;
}

.div64 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div74 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div84 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div94 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 50px;
    border-radius: 10px;
}

.div104 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

/* Pizza ends here */


/* burger starts here */

.h25 {
    color: black;
    margin-top: 111px;
    margin-left: 46px;
    font-weight: bold;
    font-size: xx-large;
}

.div15 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 30px;
    border-radius: 10px;
}

.div25{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div35{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div45 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div55 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 50px;
    border-radius: 10px;
}

.div65 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div75 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div85 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

/* burger ends here */

/* FriedRice starts here */

.h26 {
    color: black;
    margin-top: 111px;
    margin-left: 46px;
    font-weight: bold;
    font-size: xx-large;
}

.div16 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 30px;
    border-radius: 10px;
}

.div26{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div36{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div46 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div56 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 50px;
    border-radius: 10px;
}

.div66 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div76 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div86 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

/* Friedrice ends here */


/* Biscuits starts here */

.div17 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 30px;
    border-radius: 10px;
}

.div27{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div37{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div47 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div57 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 50px;
    border-radius: 10px;
}

.div67 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div77 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div87 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div97 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 50px;
    border-radius: 10px;
}

/* Biscuits ends here */



/*  Bread rolls starts here */

.div18 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 30px;
    border-radius: 10px;
}

.div28{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div38{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div48 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div58 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 50px;
    border-radius: 10px;
}

.div68 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div78 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div88 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div98 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 30px;
    border-radius: 10px;
}

.div108{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

/* Bread rolls ends here */


/*  Cake starts here */

.div19 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 30px;
    border-radius: 10px;
}

.div29{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div39{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div49 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div59 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 50px;
    border-radius: 10px;
}

.div69 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div79 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div89 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div99 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 30px;
    border-radius: 10px;
}

.div109{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

/* Cake ends here */


/*  Chocolates starts here */

.div110 {
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 30px;
    border-radius: 10px;
}

.div210{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div310{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div410{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div510{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 50px;
    border-radius: 10px;
}

.div610{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

.div710{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 650px;
    margin-top: -255px;
    border-radius: 10px;
}

.div810{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 924px;
    margin-top: -255px;
    border-radius: 10px;
}

.div910{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 83px;
    margin-top: 30px;
    border-radius: 10px;
}

.div1010{
    width: 200px;
    height: 255px;
    background-color: white;
    margin-left: 370px;
    margin-top: -255px;
    border-radius: 10px;
}

/* Chocolates ends here */
